$theme-colors: (
  "primary": #005078,
  "secondary": #019be1,
  "dark": #484848,
  "light": #ffffff,
  "danger": #f1f9fd,
  "main": #ffff,
);

:root {
  --swiper-navigation-size: 2rem;
}

html {
  font-size: 14px;
}

.background {
  background-image: url(../../src/components/image/navPic.svg);
  background-size: cover;
}

.menu-items {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.side-bar-item {
  cursor: pointer;
  color: #005078;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10px;
  padding: 1rem;
  width: 20vw;
  text-decoration: none;
  transition: 0.5s;
}

.side-bar-item:hover {
  border-radius: 5px;
  color: #019be1;
  position: relative;
  background-color: #dfdfdf;
  overflow: hidden;
  width: 100%;
}
.menu-logo {
  display: flex;
  justify-content: center;
  justify-self: center;
}

.intro-background {
  background-image: url(../../src/components/image/introBackground1.svg);
  background-position: center;
  margin-bottom: 2vw;
  background-size: cover;
  width: 21vw;
  height: 18vh;
  color: #f7f7f7;
}

.intro-background2 {
  background-image: url(../../src/components/image/introBackground2.svg);
  background-position: center;
  margin-bottom: 2vw;
  background-size: cover;
  width: 21vw;
  height: 18vh;
}

.rebate1 {
  margin-right: 75%;
  text-align: center;
}

.rebate2 {
  margin-right: 75%;
  text-align: center;
  margin-bottom: 20%;
}

.rebate3 {
  // margin-right: 75%;
  text-align: center;
  // position: absolute;
  // margin-bottom: 10vh;
}

.deadline1 {
  // margin-right: 75%;
  text-align: center;
  // position: absolute;
  // margin-bottom: 5vh;
  font-size: 0.9rem;
}

.addInfo {
  text-align: center;
}

.dots {
  cursor: pointer;
  color: #484848;
  border-radius: 10px;
  background-color: #fff;
}

.namad {
  cursor: pointer;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 1rem;
}

.pointer {
  cursor: pointer;
}

.brands {
  cursor: pointer;
  border-radius: 5px;
  margin-left: 0.5vw;
  transition: 0.2s ease-in-out;
}

.conection-number {
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  bottom: 1vh;
  transition: 0.2s ease-in-out;
}

.brands:hover {
  transform: scale(1.05, 1.05);
}

.above-footer {
  border-radius: 10px;
  padding: 0.3vw;
}

.app-download {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.app-download:hover {
  transform: scale(1.2, 1.2);
}

.footer-styles {
  cursor: pointer;
  color: #ffff;
  font-size: small;
  text-align: center;
  margin-top: 2vh;
  border-right: 0.1rem solid #ffff;
  text-decoration: none;
}

.footer-styles:hover {
  color: #019be1;
}

.footer-styles:nth-child(5) {
  border-right: none;
}
//swiper silder

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #e5edf1;

  /* Center slide text vertically */

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 80%;
  height: 200px;
  margin: 15px auto;
}

.swiper-button-next {
  color: #484848;
}

.swiper-button-prev {
  color: #484848;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

//mobile and small device display management

.mobile-search {
  //display: none;
  border: none;
  background-color: #e5f5fc;
  border-radius: 7px;
}

.mobile-baners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}
.mobile-font-size {
  text-decoration: none;
}
