@import "reset";
@import "custom";
@import "~bootstrap/scss/bootstrap";


.radius-4 {
  border-radius: 10px;
}

.no-border {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgb(145, 145, 145);
  box-shadow: none;
  size: 30;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 rgb(255, 255, 255);
}



@media (max-width: 767.98px) {

  html {
    font-size: 0.5rem;
  }

  #formBasicEmail {
    margin-top: 0.4rem;
    font-size: 0.8rem;
  }

  .slide-color {
    height: 10%;
    margin-bottom: 1rem;
    padding: 3vh;
  }

  .hidden {
    display: none;
  }

  .mobile-size {
    margin-left: 80vw;
  }

  .mobile-baners {
    display: flex;
    flex-direction: column;
  }

  .intro-background {
    margin-bottom: 0;
    background-size: cover;
    width: 57vw;
    height: 18vh;
  }

  .intro-background2 {
    margin-bottom: 2vh;
    background-size: cover;
    width: 57vw;
    height: 18vh;
  }

  small {
    font-size: 1.4rem;
  }

  .slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: center;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 2rem;
  }
}